*{
    margin:0;padding:0;
}

body{
    background-image: url(image/back.jpg);
    
}
#particles-js{
    
    background-size: cover;
    background-position: center;
   


}
.welcome{
    
    position:absolute;
    color: #fff;
    font-family: sans-serif;
    

}
.navbar{
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: 2.0;
}

  
p{
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}